.todosList {
  width: 70%;
  margin: auto;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 0 6px #ccc;
  text-align: left;
  opacity: 0;

  .todo {
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .removeIcon {
      position: absolute;
      top: 0;
      right: 2px;
      color: red;
      cursor: pointer;
    }

    button {
      outline: none;
      border-radius: 4px;
      padding: 4px 8px;
      border: none;
    }
  }
}

.visible {
  opacity: 1;
}
